@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RB", "Tajawal", sans-serif;
}
body {
  overflow-x: hidden;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: normal;
  scrollbar-color: #0061ab #ddd;
}
::-webkit-scrollbar {
  width: 0.6vw;
}
::-webkit-scrollbar-thumb {
  background: #0061ab;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
a {
  text-decoration: none;
  color: #000;
}
